<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Ex_0108_Servlet_3.1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>calculation</servlet-name>
    <servlet-class>action.calculation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HiServlet</servlet-name>
    <servlet-class>action.HiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>action.HelloServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>greet</servlet-name>
    <servlet-class>action.greet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LifeCycle</servlet-name>
    <servlet-class>action.LifeCycle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calculation</servlet-name>
    <url-pattern>/calc.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HiServlet</servlet-name>
    <url-pattern>/Hello2.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/Hello.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>greet</servlet-name>
    <url-pattern>/greet.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LifeCycle</servlet-name>
    <url-pattern>/Life.do</url-pattern>
  </servlet-mapping>
</web-app>