@charset "UTF-8";

body{
	font-size : 9 pt;
	color:black;
	line-height:160%;
	font-family: 
}

select {
	font-size : 9 pt;
	color:black;
	line-height:160%;
	font-family: 
}

div {
	font-size : 9 pt;
	color:black;
	line-height:160%;
	font-family: 
}

form {
	font-size : 9 pt;
	color:black;
	line-height:160%;
	font-family: 
}

textarea {
	border-right : 1px solid black;
	border-top : 1px solid black;
}