@charset "UTF-8";

table{
	border-collapse: collapse;
	width:900px;
	height:450px;
	margin:0 auto;
	background:#ffcece;
}

caption{
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
}

th,td{
	width:100px;	
}

.center{
	text-align: center;
}
thead{
	background: #0000ff;
	border-bottom: 5px solid black;
	color:white;
	height: 100px;
}
